# Service URLs
GRAPH_REGISTRY_URL=http://domain:port
# AWS Bedrock Configuration
AWS_ACCESS_KEY_ID="YOUR_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_SECRET_ACCESS_KEY"
AWS_SESSION_TOKEN="YOUR_SESSION_TOKEN"
AWS_REGION="YOUR_AWS_REGION"
BEDROCK_MODEL_ID="YOUR_MODEL_ID"
# Server Configuration
HOST=0.0.0.0
PORT=8000
CIRCUIT_BREAKER_THRESHOLD=3
CIRCUIT_BREAKER_COOLDOWN=30
# Database Configuration
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER_NAME
DB_PASSWORD=YOUR_DB_PASSWORD
